body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
    background-image: url('https://cdn.discordapp.com/attachments/1205998757238284309/1216484964355407923/phtrichpol9986c6b3d76c3308740351.jpg?ex=66008ee8&is=65ee19e8&hm=1c28366acbedde85369108f8cccbd284bd7436bb4be1196860e21897d200a1fb&'); /* Cambia esto por la ruta real de tu imagen */
    background-size: cover; /* Asegura que la imagen de fondo cubra toda la página */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    color: #333;
}
#bienvenida {
    position: absolute;
    top: 50px; /* Ajusta la distancia desde la parte superior según sea necesario */
    left: 55%; /* Lo colocamos en el 50% del eje horizontal */
    transform: translateX(-50%); /* Centramos el texto horizontalmente */
    background-color: transparent;
    color: #ffffff; /* Ajusta el color del texto según necesites */
    text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.575); /* Sombra negra sutil */
    /* Añade aquí el resto de tus estilos para este contenedor */
    font-size: 45px; /* Cambia el tamaño del texto a 24px, ajusta según sea necesario */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto a Arial, si no está disponible, se utilizará una fuente sans-serif genérica */
    font-weight: bold; /* Establece el texto en negritas */
}
#reloj {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según sea necesario */
    left: 55%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #faf8f8;
    text-align: center;
}
.sidebar {
    height: 100%;
    width: 250px; /* Anchura de la barra lateral */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; /* Fondo de la barra lateral */
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar a, .submenu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ddd; /* o cualquier color que hayas elegido */
    display: block;
    transition: color 0.3s ease, transform 0.3s ease; /* Añade esta línea */
}

.sidebar a:hover, .submenu a:hover {
    color: #fff; /* Cambio de color al pasar el ratón */
    transform: translateX(10px) scale(1.05); /* Mover a la derecha y aumentar tamaño */
}

.sidebar a, .submenu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ddd; /* Color de texto de los enlaces */
    display: block;
}

.sidebar a:hover, .submenu a:hover {
    background-color: #575757; /* Color de fondo al pasar el ratón */
}

.main-content {
    margin-left: 250px; /* Para no solaparse con la barra lateral */
    padding: 20px;
    width: calc(100% - 250px); /* Ajusta el ancho del contenido principal */
    background-color: #f0f0f0; /* Manteniendo el fondo global */
}

header, main {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73;
}

.submenu a {
    padding-left: 30px; /* Indentación para submenús, distinguiéndolos visualmente */
}